{{#if repaymentRequired}}
<p>If you earn ${{currency income}} in the 2018-19 financial year, you can <strong>expect to repay ${{currency repaymentProposed}}</strong> of your HELP debt under the new proposal. That's <strong>${{currency differenceRepayment}} {{sign}}</strong> than you would under current arrangements.</p>
{{else}}
<p>If you earn ${{currency income}} in 2018-19 financial year you should not have to make a HELP debt repayment. This is no different to the current arrangements.</p>
{{/if}}
